.logo {
  width: 150px;
  margin-top: 100px;
}
.searchbar {
  width: 400px;
  margin-top: 20px;
  border: 1px solid #c4c4c4;
  border-radius: 20px;
  color: #5b5b5b;
}
.button {
  color: white;
  width: 80px;
  margin-top: 20px;
  background-color: #4285f3;
  border: 1px solid #1a5fd0;
  border-radius: 3px;
}

.central {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 400px;
  margin: 0 auto;
}
.search {
  text-align: center;
}
/* .centralbar {
  margin: 0 auto;
} */
